<% provide(:title,'Home')%>
<div class="center hero-unit">
  <h1>Welcome to the test result App</h1>

  <h2>
    This is the home page for the test result app
  </h2>

  <%= link_to "Sign up now!", new_path , class: "btn btn-large btn-primary" %>
</div>

 