<% provide(:title, 'Home') %>
<title><%= yield(:title) %></title>

<div class="center hero-unit">
  <h2>Welcome to the Result Card App</h2>

  

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

